==========================================

Binance API

==========================================

اتركها فارغة إذا كان المشروع لجلب بيانات السوق فقط

BINANCE_API_KEY=
BINANCE_SECRET_KEY=

==========================================

Telegram

==========================================

TELEGRAM_TOKEN=8867580250:AAEcvsWysJxs4SpIQpr5afJcgaDtXIUP608
TELEGRAM_CHAT_ID=8982532901

==========================================

Market Scanner

==========================================

TIMEFRAME=5m
SCAN_INTERVAL=30
CANDLE_LIMIT=150
MAX_SYMBOLS=500

==========================================

Drop Detection

==========================================

DROP_LOOKBACK=24
MIN_DROP_PERCENT=3.0

==========================================

Support Detection

==========================================

SUPPORT_LOOKBACK=12
SUPPORT_TOLERANCE_PERCENT=0.20

==========================================

Volume Confirmation

==========================================

VOLUME_LOOKBACK=11
VOLUME_MULTIPLIER=1.30

==========================================

WMA Trend Confirmation

==========================================

WMA_FAST=50
WMA_SLOW=103

==========================================

Entry / Stop Loss / Take Profit

==========================================

SL  = 3%

TP1 = 1%

TP2 = 2%

TP3 = 3%

SL_PERCENT=3.0
TP1_PERCENT=1.0
TP2_PERCENT=2.0
TP3_PERCENT=3.0

==========================================

Candle Confirmation

==========================================

MIN_BODY_RATIO=0.25

==========================================

Binance Mode

==========================================

SPOT_ONLY=true

==========================================

Signal Cooldown

==========================================

منع إرسال نفس الإشارة بشكل متكرر

900 ثانية = 15 دقيقة

SIGNAL_COOLDOWN=900
